<footer>
<div class="flex">
    <div class="grid-1">
<a class="button button-gray" href="http://validator.w3.org/check?uri=referer">XHTML 5</a> 
<a class="button button-gray" href="https://jigsaw.w3.org/css-validator/check/referer">CSS</a>  
<div class="flex">
    <div class="grid-1">
        <p>&#169; Souq Al Tamr</p>
        <p>2202</p>
        <p>Al Jurf 2</p>
    </div>
    <div class="grid-1">
        <p>Ajman</p>
        <p>United Arab Emirates</p>
        <p>+97167491992</p>
    </div>
</div>

     </div>
     <div class="grid-1">
<img class="cert-img" alt="ICFD hygine certificate" src="/img/icfd_hygine.png">
</img>
<img alt="wahat prize" class="cert-img" src="/img/wahat_prize.png">
</img>
</div>
</div>
</footer>
<script type="application/javascript" src="/js/app.js"></script>
