<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Souq al-Tamr</title>
<link rel="stylesheet" type="text/css" href="/css/main.css"></link>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"></link>
</head>
