<div id="questbox" class="questbox questbox-top">Need help choosing dates? Take a quiz! <div class = "questright"><i class="fas fa-caret-square-down"></i></div></div>
  <a href="/orders" class="button basket-button"><i class="fas fa-shopping-basket"></i> <%= basket %></a>
  </div>
  <div class="info-bar">
<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/orders">My Orders</a></li>
      <li><a href="/policy">Site Policy</a></li>

    </ul> 
</nav>
  </div>
