<% include partials/head %>
<body>
  <div class="container">
	<div class="nav">
	<p>Souq al-Tamr</p>
<% include partials/nav %>
  <div class="container-card">


    <div class="form">

    <h1>Ordering <%= date.name %></h1>
    <div class="date-card date-center">
      <div class="date-img">
        <img src="/img/dates/sukkari.jpg"></img>
      </div>
      <div class="date-name"><p><%= date.name %></p></div>
      <div class="date-desc">
       <p>Flavour: <%= date.flavour %></p>
       <p>Harvest: <%= date.harvest %></p>
       <p>Price: <%= date.price %> GBP</p>
        
      </div>
      </div>
 <form method="post">
   <label>Full name: </label>
  <input type="text" name="name" id="textbox" required="1"></input>
  <label>Email:</label>
  <input type="text" name="email" id="textbox" required="1"></input>
  <label>Address 1:</label>
  <input type="text" name="address1" id="textbox" required="1"></input>
 <label>Address 2:</label>
  <input type="text" name="address2" id="textbox" required="1"></input>
 <label>Post/Zip Code:</label>
  <input type="text" name="postcode" id="textbox" required="1"></input>
 <label>Country:</label>
  <input type="text" name="country" id="textbox" required="1"></input>
 <label>Mobile Phone:</label>
  <input type="text" name="phone" id="textbox" required="1"></input>
  <input type="hidden" name="date" value="<%= date.name %>" ></input>


  <div class="form-row stripe">
    <label for="card-element">
      Credit or debit card
    </label>
    <div id="card-element">
      <!-- A Stripe Element will be inserted here. -->
    </div>
    <!-- Used to display Element errors. -->
    <div id="card-errors" role="alert"></div>
  </div>

  <button>Submit Payment</button>
</form> 


</div>
<script src="https://js.stripe.com/v3/"></script>
   <script type="text/javascript">
  /*<![CDATA[ */
var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');
var elements = stripe.elements();


var style = {
  base: {
    color: '#000000',
    lineHeight: '18px',
    fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
    fontSmoothing: 'antialiased',
    fontSize: '16px',
    '::placeholder': {
      color: '#aab7c4'
    }
  },
  invalid: {
    color: '#fa755a',
    iconColor: '#fa755a'
  }
};
// Create an instance of the card Element.
var card = elements.create('card', {style: style});

// Add an instance of the card Element into the `card-element` <div>.
card.mount('#card-element');
   /*]]>*/
</script>


  </div>

<% include partials/footer %>

  </div>	
</body>

</html>
