<% include partials/head %>
<body>
  <div class="container">
	<div class="nav">
	<p>Souq al-Tamr</p>
  <% include partials/nav.ejs %>
  <div class="container-card">
        <h1>View dates by country</h1>
<p class="info-text">Select a country below to view</p>
<ul>
<li><a href="/country/Kingdom of Bahrain">Kingdom of Bahrain</a></li>
<li><a href="/country/Saudi Arabia">Saudi Arabia</a></li>
<li><a href="/country/Kuwait">Kuwait</a></li>
<li><a href="/country/United Arab Emirates">United Arab Emirates</a></li>
<li><a href="/country/Sultanate of Oman">Sultanate of Oman</a></li>
<li><a href="/country/Yemen">Yemen</a></li>
<li><a href="/country/Iraq">Iraq</a></li>
<li><a href="/country/Egypt">Egypt</a></li>
<li><a href="/country/Jordan">Jordan</a></li>
<li><a href="/country/Syria">Syria</a></li>
</ul>
<script type="text/javascript">
  /*<![CDATA[ */

   /*]]>*/
</script>
  </div>
<% include partials/footer %>
  </div>	
</body>

</html>
