<% include partials/head %>
<body>
  <div class="container">
	<div class="nav">
	<p>Souq al-Tamr</p>
  <% include partials/nav %> 
  <div class="container-card">
    <a class="button button-green" href="/"><i class="fas fa-map-marked-alt"></i> Back to map</a>
    <h1>Dates from <%= country %></h1>
    
      <% for(var i=0; i < dateslist.length; i++) { %>
        <div class="date-card">
          <div class="date-img">
            <img src="/img/dates/sukkari.jpg"></img>
          </div>
          <div class="date-name"><p><%= dateslist[i].name %></p></div>
          <div class="date-desc">
           <p>Flavour: <%= dateslist[i].flavour %></p>
           <p>Harvest: <%= dateslist[i].harvest %></p>
           <p>Price: <%= dateslist[i].price %> GBP</p>
            
          </div>
          <div><a class="button button-green button-block" href="/buy/<%= dateslist[i].name %>">Purchase <i class="fas fa-arrow-alt-circle-right"></i></a></div>
          </div>
      <% } %>
     

   <script type="text/javascript">
  /*<![CDATA[ */
   /*]]>*/
</script>


  </div>

<% include partials/footer %>

  </div>	
</body>

</html>
