<% include partials/head %>
<body>
  <div class="container">
	<div class="nav">
	<p>Souq al-Tamr</p>
  <% include partials/nav.ejs %>
  <div class="container-card">
    <div class="flex">	
      <div class="grid-1"> 
        <h1>Where do you want your dates from?</h1>
        <p class="info">Souq al-Tamr is the only place on the interwebs to order natural,
        hand-picked premium dates. We provide dates from the Arabian Island and 
        the nearby countries, making sure you only get the best of the best.
        We ship to all countries in the world, no matter where you are, we 
        will make sure you get your dates &#8212; unless you're in North Korea.</p>
      </div>
      <div class="grid-1">

<script type="text/javascript">
  /*<![CDATA[ */
     var countryClick = "Select country";
     var selected = 0;

     function updateCountry(name){
       if (selected == 0) {
         countryBox.innerHTML = name;
       }
     }

     function clickCountry(name){
      countryBox.innerHTML = name;
      countryClick = name;
      selected = 1;
     }

     function leaveMap() {
      countryBox.innerHTML = countryClick;
      selected = 0;
       console.log("leave");
     }

function goCountry() {
  if (countryClick != "Select country") {
  window.location.href = "/country/"+countryClick;
  }
}
   /*]]>*/
</script>

<div onmouseleave="leaveMap();">
<img src="/img/middleeast-island.png" class="map" id="map-image" alt="" usemap="#map" />
<map id="map">
    <area shape="poly" alt="Kuwait" coords="272,198,278,184,304,184,307,209" onmousedown="clickCountry('Kuwait')" onmouseover="updateCountry('Kuwait')" />
    <area shape="poly" alt="Syria" coords="137,88,143,141,162,148,186,142,240,117,243,64,282,44,271,25" onmousedown="clickCountry('Syria')" onmouseover="updateCountry('Syria') " />
    <area shape="poly" alt="Jordan" coords="147,145,161,153,184,145,187,163,166,170,180,192,155,209,131,192" onmousedown="clickCountry('Jordan')" onmouseover="updateCountry('Jordan')" />
    <area shape="poly" alt="Iraq" coords="282,50,245,68,239,119,186,145,191,162,271,196,278,181,303,181,320,179,318,91,311,73" onmousedown="clickCountry('Iraq')" onmouseover="updateCountry('Iraq')" />
    <area shape="poly" alt="Sultanate of Oman" coords="418,267,443,279,461,298,447,326,441,324,438,352,382,384,364,349,409,335,403,295" onmousedown="clickCountry('Sultanate of Oman')" onmouseover="updateCountry('Sultanate of Oman')" />
    <area shape="poly" alt="Yemen" coords="256,444,248,414,260,405,259,395,318,392,323,371,335,360,360,352,373,383,368,400,323,427" onmousedown="clickCountry('Yemen')" onmouseover="updateCountry('Yemen')" />
    <area shape="poly" alt="Saudi Arabia" coords="189,162,308,211,357,274,375,292,403,292,407,333,332,359,320,374,319,386,257,390,235,371,131,212,155,212,181,194,166,171" onmousedown="clickCountry('Saudi Arabia')" onmouseover="updateCountry('Saudi Arabia')" />
    <area shape="poly" alt="Kingdom of Bahrain" coords="314,191,358,188,352,247,338,244" onmousedown="clickCountry('Kingdom of Bahrain')" onmouseover="updateCountry('Kingdom of Bahrain')" />
    <area shape="poly" alt="United Arab Emirates" coords="360,275,367,270,387,269,408,243,415,267,402,291,373,292" onmousedown="clickCountry('United Arab Emirates')" onmouseover="updateCountry('United Arab Emirates')" />
    <area shape="poly" alt="Egypt" coords="121,161,133,175,126,215,98,182,145,275,121,308,8,301,4,161" onmousedown="clickCountry('Egypt')" onmouseover="updateCountry('Egypt')" />
</map>
</div>
<div class="countryGo">
    <div class="countrybox" id="countryBox" onmousemove="leaveMap();">Select country</div>
<button id="go" class="button go-button" onmousemove="leaveMap();" onmouseup="goCountry();">Go <i class="fas fa-arrow-circle-right"></i></button>
</div>
<div class="countryList"><a class="button button-green" href="/countries">View list of countries <i class="fas fa-globe-africa"></i></a></div>
<div class="questbox-bottom"><a href="/quiz" class="button button-green">Take a quiz to find the perfect dates</a></div>
  </div>
  </div>
  </div>

<% include partials/footer %>

  </div>	
</body>

</html>
