<% include partials/head %>
<body>
  <div class="container">
	<div class="nav">
	<p>Souq al-Tamr</p>
  <% include partials/nav.ejs %>
  <div class="container-card">
        <h1>Your previous orders</h1>
        <p class="info">To view your orders, complete the form below.</p>
<div class="form">
<form method="post">
<label>Enter your phone number:</label>
<input type="text" name="phone" id="textbox" required="1"></input>
<button class="button button-green" type="submit"><i class="fas fa-archive"></i> View Orders</button>
</form>
</div>
<script type="text/javascript">
  /*<![CDATA[ */

   /*]]>*/
</script>

    
  </div>

<% include partials/footer %>

  </div>	
</body>

</html>
