<% include partials/head %>
<body>
  <div class="container">
	<div class="nav">
	<p>Souq al-Tamr</p>
  <% include partials/nav.ejs %>
  <div class="container-card">
        <h1>Site Policy</h1>
        <p class="info">This site is made for F28WP Coursework 1 submission. 
        Sadly, you'll not get any dates when ordering from this website. This
        website is made by Humaid AlQassimi and Abdelrahman Elkabbany. Information
        is collected from the order form and is stored in a database.</p>

        <p class="info">Copying code directly from this website can result in
        academic misconduct.</p>

<script type="text/javascript">
  /*<![CDATA[ */

   /*]]>*/
</script>

    
  </div>

<% include partials/footer %>

  </div>	
</body>

</html>
