<% include partials/head %>
<body>
  <div class="container">
	<div class="nav">
	<p>Souq al-Tamr</p>
  <% include partials/nav.ejs %>
  <div class="container-card">
        <h1>Questionnaire</h1>
        <p class="info">This questionnaire will find the palm dates which best suits your tastes.</p>

<form method="post" class="form">
<div id="q1" class="quiz-box">
<h2>Question 1</h2>
<p>Do you like your dates sweet or savoury?</p>
<input type="radio" name="q1" value="Sweet" checked="1"></input>Sweet
<input type="radio" name="q1" value="Savoury"></input>Savoury
<br></br>
<button id="q1-next" class="button button-green" type="button">Next question <i class="fas fa-chevron-circle-right"></i></button>
</div>
<div id="q2" class="quiz-box">
<h2>Question 2</h2>
<p>Do you like to drink coffee with your dates?</p>
<input type="radio" name="q2" value="yes" checked="1"></input>Yes
<input type="radio" name="q2" value="No"></input>No
<br></br>
<button id="q2-next" class="button button-green" type="button">Next question <i class="fas fa-chevron-circle-right"></i></button>
</div>
<div id="q3" class="quiz-box">
<h2>Question 3</h2>
<p>Are you willing to spend more on the dates?</p>
<input type="radio" name="q3" value="yes" checked="1"></input>Yes
<input type="radio" name="q3" value="no"></input>No
<br></br>
<button type="submit" class="button button-green">Submit Quiz</button>
</div>
</form>
<script type="text/javascript">
  /*<![CDATA[ */
  document.getElementById("q1").style.display = 'inline';
  document.getElementById("q2").style.display = 'none';
  document.getElementById("q3").style.display = 'none';

  var buttonHide = function(){
    if (this.id == "q1-next"){
      document.getElementById("q1").style.display = 'none';
      document.getElementById("q2").style.display = 'inline';
      document.getElementById("q3").style.display = 'none';
    }
    if (this.id == "q2-next"){
      document.getElementById("q1").style.display = 'none';
      document.getElementById("q2").style.display = 'none';
      document.getElementById("q3").style.display = 'inline';
    }
  }
  document.getElementById("q1-next").onclick = buttonHide;
  document.getElementById("q2-next").onclick = buttonHide;

   /*]]>*/
</script>

    
  </div>

<% include partials/footer %>

  </div>	
</body>

</html>
