<% include partials/head %>
<body>
  <div class="container">
	<div class="nav">
	<p>Souq al-Tamr</p>
  <% include partials/nav.ejs %>
  <div class="container-card">
        <h1>Your previous orders</h1>
        <p class="info">Below listed are the orders registered to your account.</p>
        <% for(var i=0; i < orderslist.length; i++) { %>
          <div class="date-card">
            <div class="date-img">
              <img src="/img/dates/sukkari.jpg"></img>
            </div>
            <div class="date-name"><p><%= orderslist[i].date %></p></div>
            <div class="date-desc">
              <p>Ordered on: <%= orderslist[i].doc %></p>
            </div>
            </div>
        <% } %>


<script type="text/javascript">
  /*<![CDATA[ */

   /*]]>*/
</script>

    
  </div>

<% include partials/footer %>

  </div>	
</body>

</html>
