@import url('https://fonts.googleapis.com/css?family=Cairo');


body {
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff1d6;
    background-image: url("../img/texture.png");
}
a {
color: white;
}
.container {
    position: relative;
    margin: 0 auto;
}

.date-card{
background-color: #7be083;
width: 210px;
color: black;
margin-right: 35px;
display: inline-block;
outline: 5px solid #00421d;
}
.date-center {
margin: 0 auto;
display: block;
}
.date-name p{
font-weight: bolder;
text-align: center;
margin: 0;
}
.date-desc {
padding: 15px;
}
.date-desc p {
    padding: 0px;
    margin: 0;
box-shadow: 0 -1px 0 #000;
    }

.date-img {
height: 130px;
display:block;
}
.date-img img {
max-height: 100%;
max-width: 100%;
}


.button {
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  border: 0;
}
.button-gray{
    color: black;
    background-color: lightgray

}
footer .button{
    margin-bottom: 15px;
}
.info {
font-size: 1.2rem;}
footer .grid-1{
      line-height: 40px;
}
.basket-button {
  background-color: #e68a00;
  float: right;
  margin-right: 30px;
}
.button-green{
    background-color: #00692f;
}
.go-button {
    background-color: #00692f;
    height: 40px;
}
.button:hover {
background-color: #ffbf47;
color: black;
}
.container-card {
  /* background-color:#59beff; */
  background-color: #26a25b;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  min-height: 500px;
  max-width: 1250px;
  position: relative;
  padding: 10px 50px;
  /*color: #131313;*/
  color: white;
}

.nav {
    background-color: #26a25b;
    width: 100%;
    margin-top: 0;
}

.nav p {
margin-left: 25px;
}

.questbox {
    display: inline-block;
    background-color: #f2f2f2;
    color: #383838;
    padding: 5px 25px;
    width: 400px;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
    margin-left: 150px;
    cursor: pointer;
}

.countrybox {
    display: inline-block;
    background-color: #f2f2f2;
    color: #383838;
    padding: 5px 20px;
    width: 200px;
    text-align: center;
    font-weight: 600;
    margin-left: 200px;
    

}

.questright {
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.nav p {
    display: inline-block;
    font-weight: bold;
    font-size: 1.4rem;
    color: white;
    margin-right: 25px;
}

.content {
    padding: 20px 30px;
    border-radius: 8px;
}

.cert-img {
    float: right;
    margin: 10px; 
}

.flex {
    display: flex;
    flex-direction: row;
  }

.grid-1 {
    flex: 1 0 0;
}
.form {
max-width: 40%;
margin: 0 auto;
}
form label{
  display:block;
}
form input{
   width: 100%;
}

footer {
    padding: 10px 300px;
    background-color: #383838;
    color: white;
    margin-top: 50px;
}

footer p{
    margin: -15px;
    padding: 0;
}


.map{
    float: right;
    display: block;
    border: solid; 
    border-color: #00421d;
    border-width: 4px;
    border-radius: 6px;

}
.button-block {
display: block;
}
.info-bar {
    margin-top: -10px;
    list-style-type: none;
    background-color: #7be083;
    padding: 8px 8px;
}

nav ul li{
   display: inline; 
   padding: 0 8px;
}

nav ul li a {
  text-decoration: none;
  color: #383838;
}

nav ul li:hover {
  text-decoration: underline;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li a:focus {
 outline: 2.5pt solid #ffbf47;
}

area{ 
    cursor: pointer;

}
.quiz-box input {
width:auto;
}
.questbox-bottom,.countryList{
display:none;
}


@media only screen and (max-width: 1450px) {
.flex{
display: block;
}
.map{
float:none;
}
.questbox-top, footer img{
display:none;
}
.questbox-bottom,.countryGo,.countryList{
display:block;
}
footer {
padding: 10px 30px;
}
}

@media only screen and (max-width: 800px) {
.map, .countryGo{
display:none;
}

}
/* Stripe CSS https://stripe.com/docs/stripe-js/elements/quickstart*/

/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

